---
import { getCollection, getEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const latestEntry = await (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .shift();
if (latestEntry === undefined) {
  throw new Error("No entries found");
}
const { Content } = await latestEntry.render();
const pubDate = latestEntry.data.pubDate;
---

<div class="title">
  <div class="date ja_f">
    <FormattedDate date={pubDate} />
  </div>
</div>
<Content />

<style>
  .title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 0.5em;
    margin-bottom: 1.25em;
    border-bottom: 1px solid rgba(var(--black), 0.3);
  }
  .date {
    padding: 0;
    color: rgb(var(--black));
    font-size: 11px;
    letter-spacing: 0.5em;
    transform: scale(1.2, 0.8);
  }
</style>
