---
import type { HTMLAttributes } from "astro/types";

const { column, ...props } = Astro.props;
const columnClassName = `column-${column}`;
---

<section class={columnClassName}>
  <slot />
</section>

<style>
  section {
    width: 100%;
    writing-mode: vertical-rl;

    font-family: fot-tsukuaoldmin-pr6n, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "vpal";
    text-align: justify;
    text-justify: inter-ideograph;
    letter-spacing: 0.1em;
    vertical-align: top;

    column-fill: balance;
    column-count: auto;
    column-width: 14em;
    column-gap: 0.1em;
    height: auto;
  }
  p {
    font-size: 16px;
    padding: 0;
    margin: 0 0 1em;
  }
  .column-1 {
    column-count: 1;
    height: 18em;
  }
  .column-2 {
    column-count: 2;
    height: 38em;
  }
  .column-auto {
    column-count: auto;
    column-width: 14em;
    column-gap: 0.1em;
    height: auto;
  }
  @media (max-width: 720px) {
    section {
      font-size: 13px;
    }
  }
</style>
