---
import type { HTMLAttributes } from "astro/types";

const { column, ...props } = Astro.props;
const columnClassName = `column column-${column}`;
---

<section class={columnClassName}>
  <slot />
</section>

<style>
  section {
    width: calc(100% - 0.95em);
    writing-mode: vertical-rl;

    font-size: 1rem;
    font-family: fot-tsukuaoldmin-pr6n, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "vpal";
    text-align: justify;
    text-justify: inter-ideograph;
    letter-spacing: 0.04em;
    line-height: 1.8;
    vertical-align: top;

    column-fill: auto;
    column-count: auto;
    column-width: 17em;
    column-gap: 0.1em;
    height: auto;

    margin: 0;
    padding: 0 0.75em 0 0.2em;
  }
  p {
    padding: 0;
    margin: 0 0 1em;
  }
  .column-1 {
    column-count: 1;
    height: 18em;
  }
  .column-2 {
    column-count: 2;
    height: 38em;
  }
  @media (max-width: 720px) {
    section {
      font-size: 16px;
      column-gap: 0.2em;
    }
  }
</style>
