---
import type { HTMLAttributes } from "astro/types";

const { column, ...props } = Astro.props;
const columnClassName = `column-${column}`;
---

<section class={columnClassName}>
  <slot />
</section>

<style>
  section {
    width: 100%;
    writing-mode: vertical-rl;

    font-size: 16px;
    font-family: fot-tsukuaoldmin-pr6n, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: initial;
    text-align: justify;
    letter-spacing: 0.05em;
    vertical-align: top;
  }
  .column-1 {
    column-count: 1;
    height: 18em;
  }
  .column-2 {
    column-count: 2;
    height: 38em;
  }
  .column-3 {
    column-count: 3;
    height: auto;
  }
</style>
